.slider {
  height: 10vh;
  background-color: $color-background;
  z-index: 5;
  font-size: 4rem;
  color: $color-primary;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;

  &__box {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 1668px) {
  .slider {
    height: 12vh;
    font-size: 3rem;
  }
}

@media screen and (max-width: 1264px) {
  .slider {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1024) {
  .slider {
    height: 8vh;
    font-size: 2rem;
  }
}

@media screen and (max-width: 900px) {
  .slider {
    height: 7vh;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 768px) {
  .slider {
    height: 6vh;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 500px) {
  .slider {
    height: 5vh;
    font-size: 1.2rem;
  }
}
